<div class="cover"
     (mouseenter)="setShowButtons(true)"
     (mouseleave)="setShowButtons(false)">
  <img [ngClass]="{'cover__hovered':getShowButtons()}"
       [src]="work.coverImagePath" alt=""/>
  <div class="buttons" *ngIf="getShowButtons()">
    <button class="book-button">
      <i class="fa fa-book" aria-hidden="true"></i>
    </button>
    <button class="book-button">
      <i class="fa fa-plus " aria-hidden="true"></i>
    </button>
    <button class="book-button">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </button>
  </div>
</div>
