Requirements to Fairy Teller project

1. Introduction
 		This project is a Web-application, the aim of which is expansion of reader community all over the world. On this site users will be able to write their own works, read masterpieces of the famous artists and amateurs, order works they like.
There won’t be any chats between users. Buying process will be fake.

 2. User requirements

	2.1 Program interfaces

     Used technologies and services:
* Java and Spring Framework on the backend.
* HTML, CSS , Material Design,  Typescipt and Angular 2 on the front-end.
* PostgreSQL  to store information about users, works, orders etc.
* Auth0 service for generating tokens for users.
* JWT technology for managing requests.
* Cloudinary cloud platform for keeping images from website.
.

2.2 User interface
      This project will have user-friendly interface and look like book, text editor or online shop depending on what user is going to do.

	2.3 User characteristics
* The writer: the man who wants to publish his work or come up with a continuation of existing work;
* The reader: the man who is interested in reading;
* The buyer: the man who wants to buy masterpiece he likes

	2.4 Assumptions è dependencies
Some problems with rendering in old versions of browsers may occur.

 3. System requirements

	3.1 Functional requirements
* Works of amateur artists are posted in full version, and works of famous artists are posted in a short version. The continuation of work created by user which is not the author can be attached to this work.
* Unauthenticated users have a possibility to watch works of all artists. 
* Authenticated users in addition have an opportunity to create and edit their own works; continue, comment and estimate other’s works; order books
* Possibility to order the book you like. Each order will be individual (user may choose cover, font size etc.) 
* Internalization of content in languages: Russian and English. 

	3.2 Non-Functional requirements
3.2.1 Software Quality attributes
* User-friendly interface: intuitive and lightness interface is based on Angular 2 framework with Material Design library from Google. This library will bring adaptive modern design. 
* Security: will be implemented with Spring Security and JWT and prevent server from unauthorized requests. 
* Performance: people don't want to wait for a lot of time waiting for web page is loading. To avoid wasting precious time user must wait maximum 1 second to load any page on web app.
