<ul class="topnav">
  <li class="fairyTeller__option"><a class="fairyTeller">Fairy Teller</a></li>
  <li class="eboy">
    <div class="search">
      <input type="text" class="searchTerm">
      <button type="submit" class="searchButton">
        <a class="fa fa-search"></a>
      </button>
    </div>
  </li>
  <li><a class="navbar__option">Popular</a></li>
  <li><a class="navbar__option">New</a></li>
  <li><a class="fa fa-sign-in navbar__option navbar__option_icon" aria-hidden="true"></a></li>
  <li><a class="fa fa-cog navbar__option navbar__option_icon" aria-hidden="true"></a></li>
</ul>
